<div class="row post">
    <div class="col-xs-12 col-sm-4">
        <h2 class="section-title">[[+pagetitle]]</h2>
    </div>
    <div class="col-xs-12 div col-sm-8">
    <p>[[+introtext:default=`[[+content:ellipsis=`400`]]`]]</p>
    <a href="[[~[[+id]]]]" class="button">Read More</a>
    </div>
</div>