
        <script src="resources/js/production.min.js"></script>
         <script src="resources/js/jquery.validate.js"></script>
	<script>
	$(document).ready(function(){
		
    $(".contact-form").validate();
	})
	</script>
    </body>
</html>