        <footer style="background-image:url('[[#1.tv.footer-image]]')">
            <div class="container-fluid wrap">
                <div class="row upper">
                    <div class="col-xs-12 col-sm-4">
                        <p class="ico-logo footer-logo"></p>
                        [[$social]]
                    </div>  
                    <div class="col-xs-12 col-sm-4">
                        <h2>Des Moines Office</h2>
                        <p>4200 SE Beisser Drive<br>
                        Grimes, IA 50111<br>
                        T: 515.986.0380<br>
                        F: 515.986.0384</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h2>Cedar Rapids/Iowa City</h2>
                        <p>1071 Greenfield Drive<br>
                        Tiffin, IA 52340<br>
                        T: 319.631.8309<br>
                        F: 319.545.2031</p>
                    </div>
                </div>
                <div class="row lower">
                    <div class="col-xs-12">
                        [[Wayfinder? 
                            &level=`1`
                            &startId=`0`
                            &innerTpl=`nav-inner`
                            &outerTpl=`nav-outer`
                            &sortBy=`menuindex`
                            ]]
                        <p>Copyright &copy;[[!getDate:date=`%Y`]] [[++sitename]]. All rights reserved. Website created by <a href="http://aviditycreative.com" target="_blank">Avidity Creative</a></p>
                    </div>
                </div>
            </div>
        </footer>
        [[$doc_footer]]