<header>
	<nav class="mainnav container-fluid wrap">
		[[Wayfinder? 
		    &level=`1`
		    &startId=`0`
		    &innerTpl=`nav-inner`
		    &outerTpl=`nav-outer`
		    &sortBy=`menuindex`
		    &excludeDocs = `1`
		    ]]
	</nav>
</header>

