<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">[[+site_name]]</a>
    </div>
    <div class="collapse navbar-collapse">
    	[[Wayfinder? &startId=`0` &outerClass=`nav navbar-nav`]]
    </div><!--/.nav-collapse -->
  </div>
</div>