<div class="container tab-pane" id="[[+alias:repalce=`-==`]]" role="tab-pane">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <h2 class="section-title">[[+pagetitle]]</h2>
                            <p><strong class="date">Date</strong><br>
                                [[+date]]</p>
                                <p><strong class="location">Location</strong><br>
                                [[+location]]</p>
                                [[+content]]
                        </div>
                        <div class="col-xs-12 col-sm-7 col-sm-offset-1 gallery-contain">
                            <ul class="project-image">
                                [[!Gallery? 
                                    &album=`[[+gallery]]`
                                    &thumbTpl=`gallery`
                                    &imageWidth=`800`
                                    &imageHeight="1000000"
                                ]]
                            </ul>
                        </div>
                    </div>
                </div>