<li><a href="#[[+alias:repalce=`-==`]]" aria-controls="[[+alias:repalce=` ==`]]" role="tab" data-toggle="tab"><div class="thumb-contain"><img src="[[+project-cover:phpthumbof=`w=300&h=300&zc=1&fltr[]=gray`]]" alt="[[+pagetitle]]"></div>
<p>[[+pagetitle]]</p>
</a></li>