<ul class="social">
                            <li><a href="[[#1.tv.twitter_link:notempty=`[[#1.tv.twitter_link]]`]]" target="_blank" class="ico-twitter"></a></li>
                            <li><a href="[[#1.tv.linkedin_link:notempty=`[[#1.tv.linkedin_link]]`]]" target="_blank"  class="ico-linkedin"></a></li>
                            <li><a href="[[#1.tv.facebook_link:notempty=`[[#1.tv.facebook_link]]`]]" target="_blank" class="ico-fb"></a></li>
                        </ul>