<div role="tabpanel" class="tab-pane fade" id="[[+name:lcase:limit=`4`:replace=` ==`]]">
	<h2>[[+name]]</h2>
	[[+content]]
	<p class="phone"><i class="fa fa-phone"></i> [[+phone]]</p>
	<a class="email" href="mailto:[[+email]]"><i class="fa fa-envelope-o"></i> [[+email]]</a>
</div>