<li role="presentation" class="col-xs-6">
	<a href="#[[+name:lcase:limit=`4`:replace=` ==`]]" aria-controls="[[+name:lcase:limit=`4`:replace=` ==`]]" role="tab" data-toggle="tab">
		<div class="img-conain">
			<img src="[[+img:phpthumbof=`w=180&h=140&zc=1&fltr[]=gray`]]" alt="[[+name]]">
		</div>
		<p class="name">[[+name]]</p>
		<p class="title">[[+title]]</p>
	</a>
</li>