[[$doc_head]]
    <body class="interior">
        [[$header-interior]]
        <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
            <div class="bar"></div>
            
        </section>
        <section class="content">
            <div class="container-fluid wrap">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h2 class="section-title">[[*content-heading]]</h2>
                    </div>
                    <div class="col-xs-12 div col-sm-9">
                    [[*content]]
                    </div>
                </div>
            </div>
        </section>
        <section class="light profiles">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h2 class="section-title">[[*content-heading-about]]</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <ul class="nav nav-tabs row" role="tablist">
                            [[!getImageList?
                              &tvname=`staff`
                              &tpl=`people-list`
                            ]]
                        </ul>
                    </div>
                    <div class="tab-content col-xs-12 col-sm-6">
                        [[!getImageList?
                      &tvname=`staff`
                      &tpl=`people-content`
                    ]]
                    </div>
                </div>
            </div>
        </section>
[[$footer]]
