[[$doc_head]]
    <body class="interior">
        [[$header-interior]]
        <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
            <div class="bar"></div>
            
        </section>
        <section class="content">
            <div class="container-fluid wrap">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                [[*content]]
            </div>
        </section>
[[$footer]]
