[[$doc_head]]
<body class="interior">
    [[$header-interior]]
    <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
        <div class="bar"></div>
        
    </section>
    <section class="content">
        <div class="container-fluid wrap">
            <h1 class="pagetitle">[[*pagetitle]]</h1>
            [[*content]]
            [[$contact-form]]
        </div>
    </section>
    <section class="map">
        <div id="map"></div>
        <script>

        google.maps.event.addDomListener(window, 'load', initMap);

        function initMap() {
            var mapElement = document.getElementById('map');
            var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 5,
                    scrollwheel: false,
                    navigationControl: false,
                    mapTypeControl: false,
                    disableDefaultUI: true,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(41.653815, -93.784061), // New York

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
                };
            var mark1pos = new google.maps.LatLng(41.653815, -93.784061);
            var mark2pos = new google.maps.LatLng(42.0372578,-91.6496087);

            var map = new google.maps.Map(mapElement, mapOptions);

            var marker = new google.maps.Marker({
                    position: mark1pos,
                    map: map,
                    icon: 'resources/img/marker.png'
                });
            var marker2 = new google.maps.Marker({
                    position: mark2pos,
                    map: map,
                    icon: 'resources/img/marker.png'
                    
            });
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(mark1pos);
            bounds.extend(mark2pos);
            map.fitBounds(bounds);
              }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpibi5JcqACQFZkt_VGhgI7Tv5tfAu_8o&callback=initMap"
      async defer></script>
  </section>
  [[$footer]]
