[[$doc_head]]
    <body class="home">
        [[$header]]
        <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
            <div class="bar"></div>
            <img src="resources/img/logo.png" alt="Northwest Steel Erection">
            <div class="quote wrap">
                [[!getImageList?
                  &tvname=`testimonial`
                  &tpl=`testimonial`
                  &randomize=`1`
                  &limit=`1`
                ]]
                
            </div>
        </section>
        <section class="content">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <h2 class="section-title">SAFELY BUILDING RELATIONSHIPS</h2>
                    </div>
                    <div class="col-xs-12 div col-sm-8">
                    [[*content]]
                    </div>
                </div>
            </div>
        </section>
        <section class="callouts">
            <div class="container-fluid wrap">
                <div class="row">
                        [[!getImageList?
                          &tvname=`callouts`
                          &tpl=`callouts`
                        ]]
                </div>
            </div>
        </section>
[[$footer]]
