[[$doc_head]]
    <body class="interior">
        [[$header-interior]]
        <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
            <div class="bar"></div>
            
        </section>
        <section class="content">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <h2 class="section-title">[[*pagetitle]]</h2>
                    </div>
                    <div class="col-xs-12 div col-sm-8">
                    [[*content]]
                    </div>
                </div>
            </div>
        </section>
[[$footer]]
