[[$doc_head]]
    <body class="interior">
        [[$header-interior]]
        <section class="parallax-window hero" data-parallax="scroll" data-image-src="[[*background-image]]" >
            <div class="bar"></div>
            <div class="flexslider" id="carousel">
              <ul class="slides nav nav-tabs projects-list" role="tablist">
                [[getResources?
                  &parents=`5`
                  &tpl=`projects-slides`
                  &showHidden=`1`
                  &limit=`0`
                  &includeContent=`1`
                  &includeTVs=`1` 
                  &processTVs=`1` 
                  &tvPrefix=``
                ]]
              </ul>
            </div>
            
        </section>
        <section class="content">
            <div class="tab-content">
                [[getResources?
                          &parents=`5`
                          &tpl=`projects-content`
                          &showHidden=`1`
                          &limit=`0`
                          &includeContent=`1`
                          &includeTVs=`1` 
                          &processTVs=`1` 
                          &tvPrefix=``
                        ]]
            </div>
        </section>
[[$footer]]
