section {
	padding:2em 0;
}

.gallery-contain {
	max-height:600px;
	overflow:scroll;
}

.projects-list {
	p {
		@include opacity(0);
	}
	li {
		&.active {
			p {
				@include opacity(1);
			}
		}
		&:hover {
			p {
				@include opacity(1);
			}
		}
	}
}