/* Contact Form */
.main-form {
  position: relative;
}

.main-form:before, 
.main-form:after { 
  content: " "; display: table; 
}

.main-form:after { 
  clear: both; 
}



.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: $body;
  color:$primary;
}

.main-form input,
.main-form textarea,
.main-form select {
  font-family: $heading;
  line-height: 1.5;
  font-size: 18px;
  padding: 0 10px;
  color: $primary;
  display: block;
  width: 100%;
  background: transparent;
  border:solid 1px darken($light, 10%);
}

.main-form input,
.main-form textarea {
  border-radius:0 !important;
  padding:1em;
  box-shadow:none;
  height:60px;
  @include transition(.3s all);
}

.main-form textarea {
  min-height: 200px;
}

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid $primary;
}

.main-form select:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: darken($light, 10%);
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: darken($light, 10%);
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: darken($light, 10%);
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: darken($light, 10%);
    font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.main-form input.cbp-mc-submit {
  border: none;
  color: white;
  width: 90%;
  @media (min-width: $md ) {
    width:30%;
  }
  cursor: pointer;
  display: inline-block;
  margin:2em 0;
  @include transition(.3s all);
  @extend .button;

}


#nospam, .nospam {
  display:none;
}



.thumbs {
  width:47%;
  margin:1%;
  float:left;
  img {
    width:100%;
  }
}