.mainnav {
@include transition(all .5s);
text-align: center;
@media (min-width: $md ) {
	text-align: left;
}
	ul{
		width:100%;
		text-align: center;
		margin-bottom: 2em;
		@media (min-width: $md ) {
			float:right;
			width:auto;
			text-align: left;
			margin-bottom: 0;
		}
		li {
			display: inline-block;
			font-size: 11px;
				@media (min-width: $md) {
				  font-size: 14px;
				}
			&.active {
				border-bottom: solid 4px $secondary;
			}
			a {
				padding:.5em 1em;
				@media (min-width: $md) {
				    padding:1em 1em .5em;
				}
				display: inline-block;
				color:$primary;
				text-transform: uppercase;
				font-family: $heading;
				
				&:visited {
					color:$primary;
				}
				&:hover {
					color:lighten($primary, 20%);
					text-decoration: none;
				}
			}
		}
	}
}


header {
	position: absolute;
	top:60px;
	z-index:1000;
	width:100%;
	text-align: center;
	@media (min-width: $sm) {
	  text-align:left;
	}
}


.logo {
	max-width:60%;
	text-align: center;
	display: inline-block;
	@media (min-width: $sm) {
	   max-width:35%;
	}
}