* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x:hidden;
}

.cf:before,
.cf:after {
  @extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.profiles {
  .nav-tabs {
    margin-bottom:2em;
    border-bottom: 0;
    a {
      &:hover {
        border:0;
        img {
          @include opacity(.8);
        }
      }
      padding:0;
      img {
        border-bottom: solid 8px $primary;
        @include transition(.3s all);
        margin-bottom: 1em;
      }
      .name {
        font-weight: 800;
        margin-bottom: 0;
      }
      .title {
        font-style: italic;
      }

    }
    .active {
      a {
        background: none;
        border:0;
        img {
          border-color:$secondary;

        }
      }
    }
  }
}

.tab-content {
  .phone,.email {
        margin-bottom: 1em;
        font-size: 14px;
        color:$secondary;
      }
      .phone {
        margin-bottom: 0;
      }
}

.callouts,.light {
  background: $light;
  padding:4em 2em;
  div[class*="col"]{
    margin-bottom: 2em;
    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
}
.callouts {
  .section-title {
    &:before {
      width:20%;
    }
  }
}

.content {
  padding:4em 2em;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    height: 50px;
    width: 50%;
    top: -44px;
    background: white;
  }
  &:before {
    left: -21px;
    @include prefixer(transform, skew(40deg));
  }
  &:after {

    right: -21px;
    @include prefixer(transform, skew(-40deg));
  }
}

.home {
  .hero {
    padding:20em 2em 5em;
  }
}
.hero {
  padding: 30em 2em 5em;
  @media (min-width: $md ) {
    padding:20em 2em 5em;
  
  }
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  .bar { 
    position: absolute;
    height:20px;
    width:50%;
    background-color: $primary;
    top:0;
    right: 0;
  }
  .wrap {
    max-width: 600px;
  }
  img {
    margin-bottom: 9em;
  }
  .quote {
    p {
      font-weight: 300;
      font-style: italic;
      font-size: 22px; 
    }
    .byline {
      float:right;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 6em;
    }
  }
}

/* MAIN */

section {
  padding:2em;

}

.wrap {
  max-width: 940px;
  margin:auto;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}


.social {
  li {
    display: inline;
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
    a {
      color:$secondary;
      font-size: 24px;
      &:hover {
        color:lighten($secondary,20%)
      }
    }
  }
}


/* FOOTER */

footer {
  .social {
    margin-top: 2em;
  }
  .footer-logo {
    font-size: 70px;
    margin: 0;
    padding: 0;
  }
  div[class*="col"]{
    margin-bottom: 2em;
    @media (min-width: $md) {
      margin-bottom: 0;
    }
  }
  padding:4em 2em;
  background-size: cover;
  background-repeat: no-repeat;
    text-align: center;
  @media (min-width: $md) {
    text-align: left;

  }
  h2,p,a,li {
    color:white;
  }
  .upper {
    p {
      font-weight: 300;
    }
  }
  h2 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .lower {
    margin-top:1em;
    text-align: center;
    li,p {
      font-size: 12px;
    }
    ul {
      margin-bottom: 0;
    }
    li {
      display: inline;
      margin-right: 1em;
      &:after {
        content:"|";
        margin-left: 1em;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          content:""
        }
      }
      a {

      }
    }
  }

}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.post {
  margin-bottom: 3em;
  border-bottom: solid 1px darken($light, 10%);
  padding-bottom: 3em;
  &:last-child {
    border-bottom: 0;
  }
}

section.map {
  padding:0;
}

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

#map  {
  height:300px;
  @media (min-width: $md ) {
  height:400px;
  }
}
.projects-list {
  li.active {
    p {
    border-bottom: solid 3px $secondary;

    }
  }
  text-align: left;
  img {
    margin-bottom: 1em;
  }
  p {
    width:100%;
    padding-bottom: 1em;
    @include transition(.3s all);
  }
}
.gallery-contain {
  li {
    margin-bottom: 2em;
    width:100%;

  }
}


form {
  label.error {
    font-size: 100%;
    color: red;
}
}