body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height: 1;
  margin:0 0 10px 0;
}
.pagetitle {
  font-size: 40px;
  margin-bottom: 1em;
  font-weight: 800;
  @media (min-width: $md) {
    font-size: 60px;
    margin-bottom:2em;
  
  }
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
  @media (min-width: $md) {
      font-size: 42px;
  }
}

h2 {
  @media (min-width: $xs) {
    font-size:24px;
  }
  @media (min-width: $md) {
    font-size: 34px;
  
  }
  &.section-title {
    position: relative;
    padding-top:20px;
    margin-bottom: 1em;
    &:before {
      content:" ";
      position: absolute;
      height:8px;
      background-color: $secondary;
      width:50%;
      top:0px;
    }
    @media (min-width: $xs) {
      font-size: 18px;
    }
    @media (min-width: $md) {
      font-size: 25px;
    }
  }
}

/* PARAGRAPH */

p,li,a  {
  font-family: $body;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$primary;
}
p,li {
  font-size: 14px;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:darken($secondary,10%);
    text-decoration: none;
  }
  &:visited, &:active{
    color:inherit;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  padding: 1em 2em;
  display: inline-block;
  background:$secondary;
  color:white;
  text-decoration:none !important;
  border-radius:8px !important;
  font-size: 12px;
  @media (min-width: $md) {
    font-size: 14px;
  }
  &:hover {
    background-color: darken($secondary,20%);
    color:white;
  }
  &:visited {
    color:white;
    background-color: darken($secondary, 10%);
    &:hover {
      background-color: darken($secondary,20%);
    }
  }
}

