// COLOR PALETTE
$primary: #404041;
$heading: #404041;
$secondary: #81b64e;
$hover: #505050;
$neutral: #818285;
$light:#f1f1f1;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;

// FONT STACKS
$heading: 'Montserrat', sans-serif;
$body: 'Lato', sans-serif;


$xs: 400px;
$sm: 480px;
$md: 768px;
$lg: 940px;
$xl: 991px;


