@import "reset";
@import "bootstrap";
@import "mixins";
@import "variables";
@import "grid";
@import "typography";
@import "flexslider";
@import "fontstacks";
@import "navigation";
@import "animations";
@import "forms";
@import "smallest";

@media (min-width: 400px){
	@import "400";
}

@media (min-width: 480px){
	@import "480";
}

@media (min-width: 768px){
	@import "768";
}

@media (min-width: 940px){
  @import "940";
}

@media (min-width: 991px){
  @import "991";
}


/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
